.button {
  display: none;

  font-family: $ff-inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.36px;

  border: none;

  @media (min-width: 900px) {
    display: inline-block;
    width: 262px;
    min-height: 61px;
  }

  &--cta {
    color: $text;

    background-color: rgba(64, 119, 243, 1);
    ;

    &:hover {
      background-color: rgba(64, 119, 243, 0.7);
      cursor: pointer;
    }

    &:active {
      background-color: rgba(64, 119, 243, 0.3);
    }
  }
}
