.contacts {
  display: flex;

  &--mobile {
    flex-direction: column;
  }
}

.header .contacts {
  @media (min-width: 585px) {
    margin-left: auto;
  }

  @media (min-width: 1170px) {
    margin-left: 141px;
  }
}

.footer .contacts {
  margin-bottom: 10px;
}

.contacts__phone {
  font-family: $ff-inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.36px;

  &--mobile {
    margin-bottom: 8px;

    @media (min-width: 770px) {
      margin-bottom: 21px;
    }
  }

  &--desktop {
    display: none;

    @media (min-width: 620px) {
      display: block;
      padding-top: 18px;
    }
  }
}

.contacts__social {
  @include list-reset;

  display: flex;

  &--mobile {
    gap: 10px;

    @media (min-width: 770px) {
      justify-content: flex-end;
      margin-bottom: 8px;
    }
  }

  &--desktop {
    display: none;

    @media (min-width: 770px) {
      gap: 30px;
      margin-left: 44px;
      padding-top: 17px;
    }
  }
}

.contacts__social-item {
  display: flex;
  justify-content: center;
  align-items: center;

  &--mobile {
    width: 24px;
    height: 24px;
  }

  &--desktop {
    width: 20px;
    height: 20px;
  }

  @media (min-width: 770px) {
    width: 20px;
    height: 20px;
  }
}
