.logo {
  display: none;

  @media (min-width: 1000px) {
    display: flex;
    flex-direction: column;
    width: 165px;
  }
}

.header .logo {
  margin-top: 11px;
}

.logo__image {
  margin-bottom: 10px;
}

.logo__descriptor {
  font-family: $ff-montserrat;
  font-weight: 300;
  font-size: 10px;
  line-height: 12.19px;
}
