.main {
  padding-top: 41px;
  padding-bottom: 58px;

  @media (max-width: 900px) {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-width: 900px) {
    display: flex;
  }
}
