.menu {
  @include list-reset;

  display: flex;
  gap: 16px;
  overflow: scroll;
  padding: 18px 0 19px 0;

  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    text-transform: none;
  }
}

.header .menu {
  @media (min-width: 940px) {
    gap: 30px;
    margin-left: 27px;
    padding-top: 15px;
  }
}

.menu__link {
  font-family: $ff-inter;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.52px;

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 19.36px;
  }
}
