.main .offer {
  @media (min-width: 900px) {
    margin-left: auto;
  }
}

.offer__headline {
  font-family: $ff-inter;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.78px;
}

.offer__highlighted {
  font-family: $ff-inter;
  font-weight: 700;
}

.offer__text {
  font-family: $ff-montserrat;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.85px;
  letter-spacing: 1px;

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 19.5px;
  }
}

.offer__point {
  font-family: $ff-inter;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.78px;
  letter-spacing: 1px;
}

.offer__details {
  &--mobile {
    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}
