// Viewports


// Palette
$background: #0E1014;
$text: #E4E5EA;
$dark-grey: #656566;
$accent: #4077F3;
$highlight: linear-gradient(#FCB045, #FF3F78);

// Typography
$ff-inter: "Inter", "Arial", sans-serif;
$ff-montserrat: "Montserrat", "Arial", sans-serif;

